* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fullwidth {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #222222;
    border-bottom: 1px solid gray;
}
.logo-boolflix h3 {
    color: red;
    font-size: 38px;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 10px;
}
.ricerca {
    margin-top: 28px;
    margin-right: 35px;
}
.ricerca input {
    width: 200px;
    margin-right: 28px;
    border-radius: 5px;
}
.ricerca button {
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
}
/* inizio parte centrale */
.container-interno-film {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 800px;
    min-height: 100vh;
    background-color: #222222;
}
.card {
    display: flex;
    margin-top: 12px;
    width: 185px;
    height: 260px;
    background-color: black;
    margin-left: 10px;
    color: white;
    position: relative;
}

#locandina-movie {
    width: 160px;
    height: 230px;
    margin-top: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.movie-infos {
    background-color: black;
    transform: translate(0%, -100%);
    margin-left: 6px;
    margin-top: 8px;
    width: 175px;
    height: 240px;
    visibility: hidden;
}
.series-infos {
    margin-left: 6px;
    margin-top: 8px;
    width: 160px;
    height: 230px;
    visibility: hidden;
}

.card-text-serie {
    color: white;
}
.bandiera img {
    width: 50px;
}
.stars {
    color: yellow;
    display: flex;
    width: 120px;
    height: 40px;
}
.fa-star {
    font-size: 18px;
}
